outdated_dump/degenhive/*
outdated_dump/mpl_core/*/target/*
outdated_dump/raydium/*/target/*
outdated_dump/*/target/*


target/*
v2/*

wallet-keypair.json
outdated_dump/setup_scripts/node_modules/*


future_scope/*/target/*